/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* Modular Scale: 95px @ 1:1.618 */

@import "compass/reset";
@import "compass/css3";
@import "mixins";
@import "modular-scale";

$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$navy: #1B4F81;
$light-blue: #00ADFF;

body{
	background-color: $navy;
	font-family: 'Open Sans', sans-serif;
	color: white;
	-webkit-font-smoothing: antialiased;
}

button{
	border: 0;
	margin: 0;
	-webkit-appearance: none;
	font-family: inherit;
}

div{
	@include box-sizing(border-box);
}

a{
	text-decoration: none;
	color: #3DD1FF;
	font-weight: bold;
	h1{ color: white; }
}

.hover-line{
	&:hover {text-decoration: underline}
}

h1{
	font-size: ms(4);
	font-weight: bold;
	//margin-bottom: ms(1);
}

h2{
	font-size: ms(2);
	margin-bottom: ms(2);
}

.container{
	margin: 60px;
}

.media__image{
	float: left;
	margin-right: 16px;
}

.media__body{
	overflow: hidden;
}

.tooltip.in{
	@include opacity(1);
}