/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* Modular Scale: 95px @ 1:1.618 */

@import "compass/reset";
@import "compass/css3";
@import "mixins";
@import "modular-scale";

$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$avenir: Avenir;
$red: #F10000;
$green: #53CF00;

body{
	background-color: #1B4F81;
	font-family: $avenir;
	color: white;
	-webkit-font-smoothing: antialiased;
}

button{
	border: 0;
	-webkit-appearance: none;
}

div{
	@include box-sizing(border-box);
}

h1{
	font-size: ms(5, 12px);
	font-weight: bold;
	margin-bottom: 22px;
}

.container{
	margin: 60px;
}