.ready-heading{
	opacity: 0;
}

$feedback-icon-size: 140px;
.feedback-icon{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -$feedback-icon-size/2;
	margin-left: -$feedback-icon-size/2;

	font-size: 100px;
	@include animation-duration(0.3s);
}

.skip-button{
	display: none;

	@extend .btn;
	@extend .l-bottom-right;
	@include fade-in-hover(0.5, 0.2s);

	margin: 40px;
	font-size: ms(0.5);
	border-width: 1px;
	font-weight: 100;
}