@font-face {
  font-family: 'trackburst';
  src: url('trackburst.eot?39558272');
  src: url('trackburst.eot?39558272#iefix') format('embedded-opentype'),
       url('trackburst.woff?39558272') format('woff'),
       url('trackburst.ttf?39558272') format('truetype'),
       url('trackburst.svg?39558272#trackburst') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "trackburst";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;

  line-height: 1em;
  margin-left: .2em;
}

//Added by Ronen. Allows you to use <i> tags for standalone icons.
i[class^="icon-"]:before, i[class*=" icon-"]:before {
  margin: 0;
}

.icon-email:before { content: '\e80f'; } /* '' */
.icon-itunes:before { content: '\e80b'; } /* '' */
.icon-stopwatch:before { content: '\e80e'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-play-circled:before { content: '\e802'; } /* '' */
.icon-play:before { content: '\e803'; } /* '' */
.icon-pause-circled:before { content: '\e809'; } /* '' */
.icon-pause:before { content: '\e80a'; } /* '' */
.icon-music:before { content: '\e806'; } /* '' */
.icon-basket:before { content: '\e808'; } /* '' */
.icon-twitter:before { content: '\e80c'; } /* '' */
.icon-facebook-squared:before { content: '\e80d'; } /* '' */
.icon-headphones:before { content: '\e805'; } /* '' */
.icon-thumbs-up:before { content: '\e800'; } /* '' */
.icon-thumbs-down:before { content: '\e801'; } /* '' */

.red-icon{
  &:before { color: red }
}