.instructions{
	z-index: -1; //to prevent it from going above other elements
							 //when making the window small.
	margin-left: 3px; //visual align, box shadow of keys sticks out

	font-size: ms(1);
	@include transition(font-size 0.5s);

	.container &{ margin-bottom: 40px; }

	&.is-mini{
		font-size: ms(0.5);
		opacity: 0.5;
		.key{ width: 54px }
	}
}


.key{
	width: 60px;
	@include box-shadow(0 3px 0px 3px #FFF);
	border: none;
	border-top: 2px solid #FFF;
	font-size: 1em;

	&.pressed{
		border: 2px solid #FFF;
		@include box-shadow(none);
		position: relative;
		top: 5px;
	}
}

.key-label{
	line-height: ($box-height/45);
	font-weight: 100;

	margin: 0 0.5em;
}