@import "mixins";
@import "base";

.loading-bar-bg{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 0;
	z-index: -1;

  background-color: black;
}

@-webkit-keyframes load {
    0% { width: 0%; opacity: 0.1;}
    100% { width: 100%; opacity: 0.3;}
}

@-o-keyframes load {
    0% { width: 0%; opacity: 0.1;}
    100% { width: 100%; opacity: 0.3;}
}

@-moz-keyframes load {
    0% { width: 0%; opacity: 0.1;}
    100% { width: 100%; opacity: 0.3;}
}

@-ms-keyframes load {
    0% { width: 0%; opacity: 0.1;}
    100% { width: 100%; opacity: 0.3;}
}

@keyframes load {
    0% { width: 0%; opacity: 0.1;}
    100% { width: 100%; opacity: 0.3;}
}

.load{
  @include animation-name(load);
  @include animation-duration(3.2s);
  @include animation-timing-function(linear);
}