//Animations
@mixin animation-timing-function($fun){
  -webkit-transition-timing-function: $fun;
     -moz-transition-timing-function: $fun;
      -ms-transition-timing-function: $fun;
       -o-transition-timing-function: $fun;
          transition-timing-function: $fun;
}

@mixin animation-name($name){
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -o-animation-name: $name;
  animation-name: $name;
}

@mixin animation-duration($duration){
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration;
}

//For vertically and horizontally centering
@mixin center-absolute($width, $height){
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -$height/2;
  margin-left: -$width/2;
}

//Makes top and bottom <li>'s rounded in lists of links
@mixin rounded-corner-link-list-item($radius){
  a {@include border-radius(0);}
  &:first-child a{ @include border-top-radius($radius); }
  &:last-child a{ @include border-bottom-radius($radius); }
}

//To fade an element in on hover
@mixin fade-in-hover($opacity, $duration){
  @include opacity($opacity);
  @include transition(opacity $duration);
  &:hover {@include opacity(1);}
}
