$results-border: 1px solid rgba(white, 0.12);
.track-list{
	@extend .main-content;
	border-right: $results-border;

	li{
		@include clearfix;
		border-bottom: $results-border;
	}
}

$track-image-size: 100px;
.track__image {
	background-color: darken($navy, 20%);
	@extend .media__image;
	height: $track-image-size;
	position: relative;

	&:hover .track__play-icon{ @include opacity(1) }
}

.track__play-icon{
	$play_i_size: 32px;

	position: absolute;
	font-size: $play_i_size;
	@include center-absolute(($play_i_size+2), ($play_i_size+2));

	@include border-radius(50%);
	color: white;
	background-color: black;
	width: $play_i_size;
	height: $play_i_size;
	padding: 2px;

	@include opacity(0.5);
}

.track__body{
	@extend .media__body;
	padding-top: 7px;
}

.track__name{
	@extend .l-ellip;
	line-height: 1.2em;
	display: block;
	font-weight: bold;
	font-size: ms(1);
	margin-bottom: 2px;
	margin-top: 8px;
}

.track__artist{
	//Doesn't extend l-ellip because
	//it is a link - its container is ellip though
	@extend .hover-line;
	clear: right;
	line-height: 1.2em;
}

.track__album{
	@extend .l-ellip;
	display: inline-block;
	line-height: 1.2em;
}

.track__link{
	$link-icon-size: 20px;
	float: right;

	font-size: $link-icon-size;
	color: white;
	margin: ($track-image-size/2 - $link-icon-size/2) 15px 0 15px;
	opacity: 0.5;

	&:hover{
		text-decoration: none;
		opacity: 1;
	}
}


.track__buy-label{
	display: none;
	font-size: 15px;
	font-weight: normal;
}