$track-border: 1px solid rgba(white, 0.12);
.track-list{
	@extend .main-content;

	& > li{
		@include legacy-pie-clearfix;
		position: relative;
		border-bottom: $track-border;
		&:hover{
			.track__controls { display: block }
		}
	}
}

$track-image-size: 100px;
.track__image {
	background-color: darken($navy, 20%);
	@extend .media__image;
	height: $track-image-size;
	position: relative;

	&:hover .track__play-icon{ @include opacity(1) }
}

.track__play-icon{
	$play_i_size: 32px;

	font-size: $play_i_size;
	@include center-absolute(($play_i_size+2), ($play_i_size+2));

	@include border-radius(50%);
	color: white;
	background-color: black;
	width: $play_i_size;
	height: $play_i_size+1;
	padding: 2px;

	@include opacity(0.5);
}

.track__body{
	@extend .media__body;
	padding-top: 7px;
}

.track__name{
	@extend .l-ellip;
	line-height: 1.2em;
	display: block;
	font-weight: bold;
	font-size: ms(1);
	margin-bottom: 2px;
	margin-top: 8px;
}

.track__artist{
	//Doesn't extend l-ellip because
	//it is a link - its container is ellip though
	@extend .hover-line;
	clear: right;
	line-height: 1.2em;
}

.track__album{
	@extend .l-ellip;
	line-height: 1.2em;
}

$link-icon-size: 20px;
.track__controls{
	display: none;

	float: right;
	width: $link-icon-size;
	text-align: center;
	margin: 28px 15px 0 15px;

	.tooltip.left{ margin-left: -15px; }

	li{
		display: block;
		margin-bottom: 5px;
	}

	a{
		color: white;
		opacity: 0.5;
		font-size: $link-icon-size;

		&.track__delete{ font-size: $link-icon-size * 1.35 }
		&.track__like{
			font-size: $link-icon-size * 0.9;
			&.is-liked{
				color: red;
			}
		}

		&:hover{
			text-decoration: none;
			opacity: 1;
		}
	}
}

