<div id="page-home">
	<h1 class="home-heading">Trackburst</h1>
	<h2 class="home-lead"><%= tagline %></h2>

	<nav class="l-bottom-right">
		<%= render :partial => "nav",
				:locals => { :rendered_from => "home"} %>
	</nav>

	<button class="btn--large btn--blue js-start-button"
					onClick="_gaq.push(['_trackEvent',
															'Play',
															'From Home',
															'<%= current_user.share_token %>']);">
		Let's Play <i class="icon-play"></i>
	</button>
</div>