<% content_for :head do %>
	<script>
		var tracksInfo = <%=j @tracks.to_json.html_safe %>;
		var shareToken = <%=j current_user.share_token.to_json.html_safe %>;
	</script>
<% end %>

<% content_for :js_page do %>
	blast
<% end %>

<div class="loading-bar-bg"></div>

<div class="container">
	<%= render :partial => "home" %>

	<%# TODO: Maybe rename this from get-ready to something
						else. It's kind of the main game. %>
	<div id="page-get-ready" style="display:none">
		<h1 class="js-ready-heading ready-heading animated">Ready?</h1>
		<%= link_to "Skip to likes", results_url(current_user.share_token),
									:class => "js-skip-button skip-button icon-heart "+
									(current_user.has_liked_tracks? ? "" : "hidden"),
									:onClick => "_gaq.push(['_trackEvent',
															'My Likes',
															'Skip to likes from blast',
															'#{current_user.share_token}']);" %>
	</div>

	<div class="instructions l-bottom">
		<div class="box key js-like-key">A</div>
		<label class="key-label">to like,</label>
		<div class="box key js-dislike-key">L</div>
		<label class="key-label">to pass</label>
	</div>
</div>

<div class="feedback animated">
	<i class="feedback__icon"></i>
	<span class="feedback__time icon-stopwatch"></span>
</div>

