<% content_for :head do %>
	<%= javascript_include_tag "vote" %>
	<%= javascript_include_tag "vote-graphics" %>
<% end %>

<div class="loading-bar-bg">
</div>

<div class="container">

	<div id="page-home">
		<h1>Tuneblast</h1>

		<button class="box btn btn-large js-start-button">
			Let's Play <i class="icon-play"></i>
		</button>

	</div>

	<div id="page-get-ready" style="display:none">
		<h1 class="js-ready-heading">Ready?</h1>
	</div>

	<div class="instructions l-bottom">
		<div class="box key js-like-key">A</div>
		<label class="key-label">to like,</label>
		<div class="box key js-dislike-key">L</div>
		<label class="key-label">to pass</label>
	</div>

</div>

<div class="feedback-icon animated">
</div>

