<% content_for :head do %>
	<%= javascript_include_tag "vote" %>
<% end %>

Current song: <span class="current-song-id"></span>

<div>
	<button class="js-vote-track" data-liked="true">Like</button>
	<button class="js-vote-track" data-liked="false">Pass</button>
</div>
