<% content_for :head do %>
	<%= javascript_include_tag "vote" %>
	<%= javascript_include_tag "vote-graphics" %>
<% end %>

<div class="loading-bar-bg">
</div>

<div class="container">
	<h1>Don't think.</h1>

	<div class="box key js-like-key">A</div>
	<label class="box-label">to like,</label>
	<div class="box key js-dislike-key">L</div>
	<label class="box-label">to pass</label>
</div>

<div class="corner-popup animated">
</div>

