<% content_for :head do %>
	<%= javascript_include_tag "vote" %>
	<%= javascript_include_tag "vote-graphics" %>
<% end %>


<div class="vote-pod l-absolute-center">
	<button class="js-vote-track btn btn--like vote-pod--outer" data-liked="true">
		<i class="icon-thumbs-up animated"></i>
	</button>
	<canvas width="200" height="200" id="spinner" class="vote-pod--inner"></canvas>
	<button class="js-vote-track btn btn--dislike vote-pod--outer" data-liked="false">
		<i class="icon-thumbs-down animated"></i>
	</button>
</div>
