<% content_for :head do %>
	<%= javascript_include_tag "vote" %>
	<%= javascript_include_tag "vote-graphics" %>
<% end %>


<div class="vote-pod l-absolute-center">
	<button class="js-vote-track btn btn--like vote-pod__outer" data-liked="true">
		<i class="icon-thumbs-up"></i>
	</button>
	<div class="vote-pod__inner">
		<i class="icon-play vote-pod__inner__icon"></i>
		<canvas width="200" height="200" id="spinner" class=""></canvas>
	</div>
	<button class="js-vote-track btn btn--dislike vote-pod__outer" data-liked="false">
		<i class="icon-thumbs-down"></i>
	</button>
</div>
