<div class="container no-support-error no-audio-error">
	<h1 class="home-heading">We're Sorry</h1>
	<h2 class="home-lead">Your brower is not yet supported by Trackburst.</h2>
</div>

<div class="container no-support-error no-touch-error">
	<h1 class="home-heading">We're Sorry</h1>
	<h2 class="home-lead">Trackburst doesn't support touch devices just yet.</h2>
</div>
